@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad.Departamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad.Departamento.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad.Departamento.Pais.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ciudad.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
